@using MVC_Blazor.Components.Message;
@using Microsoft.AspNetCore.Components;

@{
    ViewData["Title"] = "Home Page";

    var componentModel = new MessageModel();
    componentModel.Title = "Welcome";
    componentModel.Content = new MarkupString("Learn about <a href='https://docs.microsoft.com/aspnet/core'>building Web apps with ASP.NET Core</a>.");
}

<div class="text-center">
    <component render-mode="Static"
               type="typeof(MessageComponent)"
               param-Model="componentModel"/>
</div>
